.header
  %h1.pull-left
    %a{"href" => "/"} Standard Notes

  .header-links
    %a.header-link{"href" => "/"} Download
    %a.header-link{"href" => "/extensions"} Extensions
    %a.header-link{"ui-sref" => "help"} Help
    %a.header-link{"ui-sref" => "extended"} Donate

  %br
