.main-content.header
  .pull-left
    %h1
      %a{"href" => "/"} Standard Notes

  .pull-right.links
    %a.header-link{"href" => "/"} Download
    %a.header-link{"href" => "/extensions"} Extensions
    %a.header-link{"href" => "/extended"} Extended
    %a.header-link{"href" => "mailto:hello@standardnotes.org"} Help

  %br
  %br
