.header
  %h1.pull-left
    %a{"href" => "/"} Standard Notes

  .header-links
    %a.header-link{"href" => "/extensions"} Extensions
    %a.header-link{"ui-sref" => "help"} Help
    %a.header-link{"href" => "https://blog.standardnotes.org"} Blog
    %a.header-link{"href" => "https://journal.standardnotes.org"} Essays

  %br
