%section.main-content
  %h1 Minimal Markdown Editor
  %p
    A minimal Markdown editor with inline style support.

  %p
    This editor is available to
    %a{"ui-sref" => "extended"} Standard Notes Extended
    subscribers.

  %h2 Demo
  %iframe.shadow-image{"width" => "100%",  "ng-src" => "{{iframeURL | trusted}}", "frameBorder" => "0", "style" => "width: 86vw; min-height: 750px; height: auto;"}
