Themes allows you to customize your experience using simple CSS.

%h2 Available Themes
%ul
  %li
    %p.bold Dark Blue
    %p
      Copy this link to install:
      %a{"href" => "/themes/dark-blue.css"} https://standardnotes.org/themes/dark-blue.css
    %img.shadow-image{"src" => "assets/dark-theme.jpg"}

%h2 Installation
%p To install, simply copy a theme link from above. Then, open your Standard Notes app, and under the "Extensions" menu option on the bottom, paste the link into the "Themes" input.
