Themes allows you to customize your experience using simple CSS.

%h2 Available Themes
%ul
  %li
    %p.bold Dark Blue
    %p
      This theme is available to
      %a{"ui-sref" => "extended"} Standard Notes Extended
      subscribers.
    %img.shadow-image{"src" => "assets/dark-theme.jpg"}

-# %h2 Installation
-# %p To install a theme, simply copy a theme link from above. Then, open your Standard Notes app, and under the "Extensions" menu option on the bottom, paste the link into the "Themes" input.
