Themes allows you to customize your Desktop experience using simple CSS.

%h2 Available Themes
%ul
  %li
    %a{"href" => "https://github.com/standardnotes/desktop/releases/download/v0.3.0/dark-blue.css"} Dark Blue
    %img.shadow-image{"src" => "assets/dark-theme.jpg"}

%h2 Installation
%p To install, simply download a theme from above. Then open your Standard Notes desktop app, click "Theme" from the menu, and then "Add New Theme".
