$blue-color: #086dd6;

* {
  box-sizing: border-box;
}

hr {
  text-align: center;
  border-top:2px dashed #000;
  border-bottom: none;
  margin: 50px 0;
}

body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
  color: #2e2e2e;

  max-width: 64rem;
  font-size: 20px;
  padding: 2rem 6rem 2rem 6rem;
}

@media screen and (max-width: 42em) {
  body {

  }
}

@media screen and (min-width: 64em) {
  body {

  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  body {
    padding: 2rem 4rem;

  }
}

@media screen and (max-width: 42em) {
  body {
    padding: 2rem 1rem;

  }
}

a {
  color: $blue-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h4 {
  font-weight: bold !important;
}

.no-bullet {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.boxed-ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex: 1 1 auto;
  margin-left:0;
  padding-left: 0;
  flex-wrap: wrap;

  li {
    padding: 20px;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.2);
    margin-bottom: 15px;
    margin-right: 15px;
    font-weight: bold;
    text-align: center;
  }
}


.features {
  p {
    margin-bottom: 0px !important;
    margin-top: 8px !important;

    &:before {
      content: "+";
      padding-right: 20px;
      font-weight: bold;
      color: $blue-color;
    }
  }
}

ol, ul {
  li {
    margin-bottom: 20px;
  }
}

.tagline {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 24px;
  max-width: 700px;
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: black;
}

h1 {
  margin: 0.67em 0;
  font-size: 26px;
}

img {
  max-width: 100%;
}
