.main-content
  %p There are four main ways to get help:
  %ol
    %li
      Browse or post to the
      %a{"href" => "https://forum.standardnotes.org"} forum
      (recommended)
    %li
      Join the Standard Notes
      %a{"ui-sref" => "slack"} Slack group
    %li
      Send an email to
      %a{"href" => "mailto:hello@standardnotes.org"} hello@standardnotes.org
    %li Read the FAQ below

  %h2.mt-40 FAQ

  %ul.no-bullet
    %li
      %strong How can I import my notes from Evernote?
      %p
        Check out the
        %a{"ui-sref" => "tools"} Evernote import tool.
        Note that due to the variety of Evernote file formats, it has been difficult for us to anticipate all of them. The importer should work well for simple notes, but may struggle with more custom formats.
        We can't address this issue without your help — if you try an Evernote file that doesn't successfully convert, please send us what you can so that we can replicate and fix the issue.
    %li
      %strong How can I import notes from a bunch of text files?
      %p
        Use the
        %a{"ui-sref" => "tools"} plaintext import tool.
    %li
      %strong I love what you're doing and I'd like to donate.
      %p
        We're trying hard not to rely on donations, but instead on creating a sustainable revenue model. You can help support Standard Notes by purchasing an
        %a{"ui-sref" => "extended"} Extended subscription.
    %li
      %strong Why are extensions not available on the mobile apps?
      %p
        Extensions are exclusively a web/desktop experience. Standard Notes' mobile apps are more like convenience clients for easily accessing and editing your data.
        But our flagship products are our web and desktop apps.
