%section
  %blockquote
    What I write is important to me. I want to be able to read it fifty years from now. A hundred years from now. So where do I go? Evernote? Google? Other private, short-lived, growth-oriented companies? No. What we need is something that
    %strong focuses
    on durability and
    %strong not
    growth.

  %p.mt-30
    %strong Standard Notes
    is a simple notes app that delivers only the essentials in note-taking. It's fast, available on almost every platform, supports strong encryption, privacy, and security, gives you 100% data ownership, is open-source, and supports custom extensions like Markdown and Dropbox Sync.

  %h3{"style" => "margin-top: 30px; font-size: 22px;"} It's available for free on:
  .downloads-container.mt-20
    .download-item{"ng-repeat" => "item in downloads"}
      %a.content-link{"href" => "{{item.link}}", "target" => "_blank"}
        .icon
          %img{"ng-src" => "assets/{{item.icon}}"}
        .links
          %a.link{"href" => "{{item.link}}", "target" => "_blank"} {{item.name}}

  %p.bold We're built on different principles.
  .principles.mt-30
    %ol
      %li
        %strong Complexity in software decreases its chances of survival.
        How often are you forced to switch to a new system every time developers of your favorite app decide to change everything around or just completely abandon the project? Applications that aim to survive an apocalypse must adapt to a different lifestyle.
        We follow principles that maximize longevity, not growth, period.
      %li
        %strong Your notes belong to you, and should not be read by anyone but you.
        Information is valuable. When private companies own your un-encrypted data, they'll find any way they can to monetize it, even at the expense of your privacy.
        With Standard Notes, all your notes are encrypted
        on your device before being sent over the wire. This means no one can read your notes—not even us.
      %li
        %strong A notes company does not need to meddle with my data to provide me with a notes service.
        We believe in a separation of concerns between our service and your data. That's why we built Standard File, a simple and open data format
        that encrypts and backs up your data.
      %li
        %strong A notes app should be customizable.
        It is not possible for one notes app to anticipate everyone's needs and wants.
        Our applications start simple, and can be extended with 3rd party extensions and editors that allow you to choose how you'd like to write.

  %hr

  %h3
    Want to try it out?
    %a{"href" => "{{demoUrl}}"} Check out a live demo of the web app.


  %ng-include{"src" => "'templates/email_subscribe.html'"}

  %hr

  %h2.mt-40 The Apps

  %p We're focused on making sure our apps remain stable and survive for decades without issue. That's no easy feat. Our advantage is staying as small as possible.

  %p For the most part, this is what our app will forever be:

  %ol
    %li.bold Notes with a title, text, and tags.
    %li.bold Search bar for quickly finding a note
    %li.bold Easy importing and exporting of all your data

  %p.mt-40 For everything else, there's Extensions.

  %hr

  %h2.mt-40 Extensions

  %p
    %em There are a million and one ways to write notes — who are we to choose?
  %p Our main desktop and web app allow for custom extensions and editors, such as:
  %ul.boxed-ul
    %li.bold
      %a{"href" => "/extensions"} Markdown Editor
    %li.bold
      %a{"href" => "/extensions"} Code Editor
    %li.bold
      %a{"href" => "/extensions"} Dropbox Sync
    %li.bold
      %a{"href" => "/extensions"} Note Revision History
    %li.bold
      %a{"href" => "/extensions"} File Attachments

  %p Our mobile apps, iOS and Android, are more standard-form applications, and focus on allowing you to access and edit your data from anywhere, and do not offer custom extensions and editors. Whether this will change in the future remains to be seen.

  %hr

  %h2.mt-40 Your Data

  %p
    Standard Notes provides you with a notes service, but your data isn't owned by us. Instead, it's hosted through
    %a{"href" => "https://standardfile.org"} Standard File
    either through free hosting from us, a community server, or using your own private server.

  %p We offer forever-free, encrypted hosting, and this is what all our apps default to when you register. (You'll see this as <em>https://n3.standardnotes.org</em>)

  %hr

  %h2.mt-40 Open Source
  %p
    Everything, from our apps to this website, is
    %a{"href" => "https://github.com/standardnotes"} open source.
    This is essential to transparency, and making sure our code is auditable by anyone.

  %p This also makes it so that you don't have to be completely dependent on us for your notes: open source means that Standard Notes can continue to survive even if our entire team got run over by a bus.

  %h3 Developers
  %a{"href" => "/developers"} See the developer resources page.

  %hr

  %h2.mt-40 FAQ

  %ul.no-bullet
    %li
      %strong What information does Standard Notes collect about me?
      %p
        As little as possible, if at all. Our apps do not use any invasive data analytics or tracking libraries like Google Analytics, which track your behavior online and sell it to advertisers. Instead, we use an open-source, privacy focused analytics suite called
        %a{"href" => "https://piwik.org/"} Piwik.
        We'll also never require you to agree to a lengthy terms of service.
    %li
      %strong How does Standard Notes make money?
      %p
        We offer the
        %a{"href" => "/extended"} Standard Notes Extended
        subscription, which provides members with benefits such as Advanced Extensions (like the Note History extension and the Advanced Markdown Editor) and priority support with setting up a personal Standard Notes/Standard File server or Standard Notes based personal blog.

    %li
      %strong How can I get involved?
      %p We love community contributions. If you're a notes-enthusiast, share with your friends and followers, and help create a more sustainable notes environment.

      %p
        If you're a developer, check out our
        %a{"href" => "https://github.com/standardnotes"} repositories on Github
        and see where you can help, as well as our
        %a{"href" => "/developers"} developer resources page.

      %p
        You can also host your own Standard File server for other community members to use and join.
        If you launch your own community server,
        %a{"href" => "mailto:hello@standardnotes.org"} let us know.

      %p
        Come join
        %a{"href" => "/slack"} our Slack group.
    %li
      %strong How can I get in touch?
      %p
        You can follow us on
        %a{"href" => "https://twitter.com/standardnotes"} Twitter
        for updates and announcements. Or say hello at
        %a{"href" => "mailto:hello@standardnotes.org"} hello@standardnotes.org.

  %ng-include{"src" => "'doc/spec.html'"}

  %hr

  %h2.mt-40 Credits
  %ng-include{"src" => "'templates/producers_list.html'"}
