%p Our thanks goes to the following individuals, who have contributed to the advancement of Standard Notes in one way or another.

%a.white-bg.mb-5.mr-5.medium-padding.inline.center-align.bold{"ng-repeat" => "producer in producers", "style" => "color: black; min-width: 100px; margin-right: 8px; margin-bottom: 8px !important;", "href" => "{{producer.link}}", "target" => "_blank"}
  {{producer.name}}
